@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}

@-webkit-keyframes dots {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* fonts */
/* colors */
/* backgrounds colors */
/* fonts colors */
/* gradient colors */
/* icon colors */
/* box shadow */
header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  background-color: #579c87;
  text-align: center;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h1 {
  color: #fdcb46;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  color: #fdcb46;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  height: 70px;
  background-color: #579c87;
  color: #fdcb46;
  position: -webkit-sticky;
  position: sticky;
  padding: 0px 10px 0px 10px;
  margin: auto;
  bottom: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h2 {
  color: #fdcb46;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

footer h2:hover {
  -webkit-animation: wiggle 100ms infinite;
          animation: wiggle 100ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

footer a {
  color: #fdcb46;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside {
  background-color: #579c87;
  color: #fdcb46;
  width: 260px;
  height: 40px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  padding-bottom: 15px;
}

main {
  background-color: #ffffff;
  margin: auto;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  width: 290px;
  height: 360px;
  margin: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 30px #bbba;
          box-shadow: 0 0 30px #bbba;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.menu h2 {
  font-size: 2.3em;
}

.menu h3 {
  font-size: 1.9em;
}

.lanote {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Devonshire", cursive;
}

.lanote a {
  text-decoration: none;
}

.lanote h3 {
  color: #3c1218;
  text-decoration: none;
  text-decoration: none;
}

.lanote h2 {
  color: #3c1218;
  text-decoration: none;
  font-family: "Nanum Pen Script", cursive;
}

.fas {
  font-size: 1.5em;
  display: inline-block;
  padding: 5px;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#f04a5e), to(#f78f6a));
  background-image: linear-gradient(0.25turn, #f04a5e, #f78f6a);
}

.lechic {
  background-color: #fff5fe;
  color: #c77412;
  font-family: "Source Serif Pro", serif;
  font-weight: 100;
  text-decoration: none;
}

.lechic a {
  text-decoration: none;
}

.lechic h2 {
  color: #c77412;
}

.lechic__title--gradient {
  font-family: "Croissant One", serif;
  font-size: small;
  padding-right: 20px;
  padding-left: 20px;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#c77412), to(#905bfd));
  background-image: linear-gradient(0.25turn, #c77412, #905bfd);
}

.delice {
  background-color: #f9f9f9;
  color: #2b91f8;
  font-family: "Dancing Script", cursive;
  font-weight: 100;
  text-decoration: none;
}

.delice a {
  text-decoration: none;
}

.delice h2 {
  font-family: "kalam", cursive;
  font-weight: lighter;
}

.delice__title--gradient {
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#0431df), color-stop(#518cf0), to(#0887fb));
  background-image: linear-gradient(0.25turn, #0431df, #518cf0, #0887fb);
}

.palette {
  background-color: #fdfffd;
  color: #72bf56;
  font-family: "Kaushan Script", cursive;
  text-decoration: none;
}

.palette a {
  text-decoration: none;
}

.palette h2 {
  color: #72bf56;
  font-family: "kalam", cursive;
  font-weight: lighter;
}

.palette__title--gradient {
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#3d9339), to(#bfff7e));
  background-image: linear-gradient(0.25turn, #3d9339, #bfff7e);
}

.zoom:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all ease 600ms;
  transition: all ease 600ms;
}

.loading .loading__dot1 {
  -webkit-animation: dots 2s infinite ease-in-out;
          animation: dots 2s infinite ease-in-out;
  font-size: 2em;
}

.loading .loading__dot2 {
  -webkit-animation: dots 2s infinite ease-in-out;
          animation: dots 2s infinite ease-in-out;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  font-size: 2em;
}

.loading .loading__dot3 {
  -webkit-animation: dots 2s infinite ease-in-out;
          animation: dots 2s infinite ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  font-size: 2em;
}

.title {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: auto;
  height: auto;
}

.card {
  margin: auto auto 30px auto;
  height: auto;
  width: 90%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page1 {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Devonshire", cursive;
  -webkit-box-shadow: 0 0 30px #bbba;
          box-shadow: 0 0 30px #bbba;
  width: 90%;
}

.page1 h2 {
  font-size: 1.3em;
  font-weight: 200;
}

.page1 .price {
  font-weight: bold;
}

.page1 .lanote__title {
  color: #3c1218;
  text-decoration: none;
}

.bottom_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom_title .lanote__icon {
  margin: auto 15px auto 0px;
}

.line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  height: 8px;
  width: 10px;
  width: 90%;
  margin: auto;
}

.line1 .line {
  width: 50px;
}

.border {
  display: inline;
  margin: auto 10px auto 10px;
}

body {
  margin: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
}
/*# sourceMappingURL=main.css.map */