header {
    @include header;
    @include flex_column;

    h1 {
        @include header_h1;
        @include flex_center;

    }
    a {
        @include a_header_footer;
        @include flex_center;
    }
}
footer {
    @include footer;
    @include flex_space_between;
    h2 {
        @include footer_h2;
    }
    a {
        @include a_header_footer;
        @include flex_center;
    }
}

aside {
    @include aside;
    @include flex_column;
}

.loading {
    @include aside_h2;
}

main {
    @include main;
    @include flex_column;
}

section
{
    @include section;
    @include flex_column;
    box-shadow: $box_shadow;
}
.menu
{
    @include flex_column;
    margin: 10px;

    h2
    {
        font-size: 2.3em;
    }

    h3
    {
        font-size: 1.9em;
    }
}

.lanote {
    @include la_note;
    a {
        @include a;
    }
    h3 {
        @include lanote__title;
        @include a;
    }
    h2 {
        @include lanote__title;
        font-family: $second_font;
    }
}
.fas {
        @include lanote__icon;
        @include fas;
}
.lechic {
        @include lechic;
        a{
            @include a
        }
        h2 {
            color: $lechic_menu1;
        }
}
.lechic__title--gradient{

    @include lechic__title--gradient;

}