.delice__page {
    @include delice;
    box-shadow: $box-shadow;
    width: 90%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto 30px auto;
    h2
    {
        font-size: 1.2em;
        font-weight: lighter;
        @include lg {
            font-size: 1.5em;
        }
    }
    .font__black {
        color:$delice_palette_page;
        font-family:$menu_delice_palette;
    }
    .delice__title--gradient {
        font-size: 2em;
        @include lg {
            font-size: 2.5em;
        }
    }
}
.delice__subtitle {
    @include flex_space_between;
}
.delice_palette_dish {
    @include flex_space_between;
    text-align: center;
}
.delice_palette_deco {
    @include delice_palette_deco;
    @include lg {
        width: 300px;
        height: 8px;
    }
}
.anim4 {
@include line_anim ($delice_menu_gradient1);
}
.anim5 {
    @include line_anim ($delice_menu_gradient2);
}
.anim6 {
    @include line_anim ($delice_menu_gradient3);
}

