.title {
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
}

.lanote__title {
    @include lanote__title;
    font-family: $lanote_title_font;
    font-size: 3em;
}

.lanote__page {
    @include la_note;
    box-shadow: $box-shadow;
    width: 90%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto 30px auto;
    h2
    {
        font-size: 1.3em;
        font-weight: bold;
    }

    .price {
        font-weight: bold;
    }
}

.bottom__title {
    @include flex_center;
    .lanote__icon {
        margin: auto 15px auto 0px;
    }
}
.lanote__subtitle {
        @include flex_center;
        width: 90%;
        margin: auto;
}
.lanote__deco {
   @include lanote__deco;
}
.subtitle {
   display:inline;
   @include lanote_anim;
   margin: auto;
    &:hover{
        background-size: 100% 100%;
    }
}

