.palette__page {
    @include palette;
    box-shadow: $box-shadow;
    width: 90%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto 30px auto;
    h2
    {
        font-size: 1.5em;
        font-weight: lighter;
        @include lg {
            font-size: 2em;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .font__black {
        color:$delice_palette_page;
        font-family:$menu_delice_palette;
    }
    .palette__title--gradient {
        font-size: 2em;
        @include lg{
            font-size: 2.5em;
        }
    }
}
.palette__subtitle {
    @include flex_space_between;
}
.anim7 {
    @include line_anim ($palette_menu_gradient1);
}